---
import "@/styles/content.css";

import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import dayjs from "dayjs";

export async function getStaticPaths() {
  const posts = await getCollection("building");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { title, description, thumbnail, date } = Astro.props.post.data;
const { Content } = await Astro.props.post.render();
---

<Layout title="Будівництво">
  <section
    id="content-header"
    class="relavative min-h-[350px] flex flex-col items-center justify-center"
  >
    <Image
      src={thumbnail}
      alt={title}
      class="absolute w-full h-[350px] object-cover brightness-50 -z-10"
      loading="eager"
      width={1920}
      height={1080}
    />
    <div class="text-center max-w-4xl text-white">
      <h1>{title}</h1>
      <p>
        {dayjs(date).add(-dayjs().utcOffset(), "m").format("DD.MM.YYYY HH:mm")}
      </p>
      <p>{description}</p>
    </div>
  </section>
  <section id="content" class="max-w-6xl mx-auto py-16">
    <Content />
  </section>
</Layout>
