---
import advantages from "@/data/advantages";
import { Icon } from "astro-icon/components";
import map from "lodash/map";
import AdvantageItem from "./AdvantageItem.astro";
---

<section id="advantage" class="bg-yellow relative">
  <Icon
    name="figures/heart"
    class="absolute top-20 right-20 text-yellow stroke-1 stroke-black opacity-0 xl:opacity-100"
    height={200}
    width={200}
  />
  <div class="py-16 mx-auto max-w-7xl px-6">
    <h2>ПЕРЕВАГИ</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-8 mt-12">
      {map(advantages, (item) => <AdvantageItem {...item} />)}
    </div>
  </div>
</section>
