---
import DesignCarouselController from "./DesignCarouselController";
---

<section id="design" class="bg-yellow default-container py-16">
  <div class="max-w-7xl mx-auto px-8">
    <h2 class="md:text-center mb-12" data-aos="fade-up">
      дизайн інтер'єру квартир
    </h2>
    <DesignCarouselController client:load />
  </div>
</section>
