---
import ContactForm from "./ContactForm";

interface Props {
  id: string;
  title: string;
  buttonText: string;
}

const { id, title, buttonText } = Astro.props;
---

<section id={id} class="bg-orange">
  <div
    class="flex flex-col items-center text-center gap-16 py-20 px-6 max-w-4xl mx-auto"
  >
    <p
      class="text-balance text-2xl font-medium sm:text-3xl md:text-4xl lg:text-5xl md:font-bold uppercase"
    >
      {title}
    </p>
    <ContactForm formId={id} buttonText={buttonText} client:load />
  </div>
</section>
