---
import ContactForm from "./ContactForm";
---

<div class="bg-orange">
  <div
    class="flex flex-col items-center text-center gap-16 py-20 px-6 max-w-3xl mx-auto"
  >
    <p
      class="text-balance text-2xl font-medium md:text-4xl md:font-bold uppercase"
    >
      Отримай підбірку вільних планувань
    </p>
    <ContactForm formId="get-free-plans" buttonText="Отримати" client:load />
  </div>
</div>
