---
import "@/styles/embla.css";
import getGallery from "@/utils/notion/get-gallery";
import GalleryCarousel from "./GalleryCarousel";

const gallery = await getGallery();
---

<section
  id="gallery"
  class="default-container remove-all-x-padding"
  data-aos="fade-down"
>
  <GalleryCarousel client:load images={gallery} />
</section>
