---
import ConceptItem from "./ConceptItem.astro";
---

<section id="concept" class="default-container" data-aos="fade-down">
  <h2 class="uppercase">КОНЦЕПЦІЯ</h2>
  <div
    class="grid grid-cols-1 md:grid-cols-2 px-10 sm:px-14 md:px-20 lg:px-24 mt-10 sm:mt-14 md:mt-20 lg:mt-24 gap-7 sm:gap-10 md:gap-14 lg:gap-20"
  >
    <ConceptItem
      title="5"
      description="хвилин від центру міста"
      className="order-1"
      index={0}
    />
    <ConceptItem
      title="9"
      description="поверхів"
      className="order-2 md:order-3"
      index={1}
    />
    <ConceptItem
      title="96"
      description="1-2 кімнатних квартир з вільним плануванням"
      className="order-3 md:order-2"
      index={2}
    />
    <ConceptItem
      title="24"
      description="УНІКАЛЬНІ ПЛАНУВАННЯ ВІД 40 М2 ДО 70 М2"
      className="order-4"
      index={3}
    />
  </div>
</section>

<!-- <section
  id="concept"
  class="pt-[60px] sm:mt-[80px] md:pt-[100px] lg:pt-[120px]"
>
  <h2 class="uppercase">КОНЦЕПЦІЯ</h2>
  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-8 sm:gap-12 md:gap-16 lg:gap-20 px-8 py-16"
  >
    <ConceptItem
      title="5"
      description="хвилин від центру міста"
      className="order-1"
    />
    <ConceptItem
      title="9"
      description="поверхів"
      className="order-2 md:order-3"
    />
    <ConceptItem
      title="96"
      description="1-2 кімнатних квартир з вільним плануванням"
      className="order-3 md:order-2"
    />
    <ConceptItem
      title="24"
      description="УНІКАЛЬНІ ПЛАНУВАННЯ ВІД 40 М2 ДО 70 М2"
      className="order-4"
    />
  </div>
  <hr class="border-black" />
</section> -->
