---
import { twMerge } from "tailwind-merge";

interface Props {
  title: string;
  description: string;
  className?: string;
  index: number;
}

const { title, description, className, index } = Astro.props;
---

<div
  class={twMerge(
    "flex flex-col gap-1 md:flex-row items-baseline md:gap-4",
    className
  )}
  data-aos="fade-down"
  data-aos-delay={100 + index * 50}
>
  <span
    class="font-bold text-[80px] sm:text-[100px] md:text-[120px] lg:text-[150px] 2xl:text-[200px] leading-none"
    >{title}</span
  >
  <div class="max-w-[350px]">
    <div class="uppercase text-lg text-balance inline-block">{description}</div>
  </div>
</div>
