---
import { Icon } from "astro-icon/components";
import map from "lodash/map";

interface Props {
  icon: string;
  title: string;
  description: string[];
  index: number;
}
const { icon, title, description, index } = Astro.props;
---

<div class="flex flex-row gap-4" data-aos="fade-up" data-aos-delay={index * 50}>
  <Icon name={icon} class="size-12" />
  <div class="flex-1">
    <p class="text-lg md:text-xl uppercase">{title}</p>
    <div class="ml-2">
      {map(description, (item) => <p class="text-balance">{item}</p>)}
    </div>
  </div>
</div>
