---

---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <link href="/cms/config.yml" type="text/yaml" rel="cms-config-url" />
    <title>Sviy CMS</title>
  </head>
  <body>
    <!-- Dashboard script-->
    <script src="https://unpkg.com/decap-cms@^3.1.2/dist/decap-cms.js"></script>

    <script type="module" is:inline>
      const BuildingPreview = createClass({
        render: function () {
          return h("div", { id: "content" }, this.props.widgetFor("body"));
        },
      });
      CMS.registerPreviewTemplate("building", BuildingPreview);
      CMS.registerPreviewStyle("/cms/demo.css");

      console.log("Sviy CMS loaded");
    </script>

    <!-- Netlify identity -->
    <script
      is:inline
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </body>
</html>
