---
import "@/styles/global.css";
import "aos/dist/aos.css";

import Footer from "@/components/footer/Footer.astro";
import Navbar from "@/components/navbar/Navbar.astro";
import { SEO } from "astro-seo";
import { Schema } from "astro-seo-schema";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import uk from "dayjs/locale/uk.js";
import { twMerge } from "tailwind-merge";
import ProgressBar from "astro-vtbot/components/ProgressBar.astro";
import { Toaster } from "react-hot-toast";

import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  className?: string;
  disableFooter?: boolean;
}

const { title, className, disableFooter } = Astro.props;

dayjs.extend(utc);
dayjs.locale(uk);
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
    <SEO
      title={title}
      titleTemplate="%s | Sviy"
      description=""
      charset="utf-8"
      openGraph={{
        basic: {
          title: "Sviy",
          type: "website",
          image: "",
        },
      }}
      twitter={{
        title: "Sviy",
        image: "",
        description: "",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [],
      }}
    />

    <!-- Schema.org markup-->
    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "WebSite",
        name: "Sviy",
        url: "https://sviydubno.com.ua/",
      }}
    />
    <ViewTransitions />
  </head>
  <body class="flex flex-col min-h-dvh">
    <script>
      import { aosInit } from "@/utils/aos";

      aosInit();

      document.addEventListener("astro:after-swap", aosInit);
    </script>
    <Toaster client:load position="top-right" />
    <ProgressBar />
    <Navbar />
    <main class={twMerge("flex-1", className)}><slot /></main>
    {!disableFooter && <Footer />}
  </body>
</html>
