---
import "@/styles/global.css";
import "aos/dist/aos.css";

import Footer from "@/components/footer/Footer.astro";
import Navbar from "@/components/navbar/Navbar.astro";
import { SEO } from "astro-seo";
import { Schema } from "astro-seo-schema";
import { twMerge } from "tailwind-merge";

interface Props {
  title: string;
  className?: string;
  disableFooter?: boolean;
}

const { title, className, disableFooter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
    <SEO
      title={title}
      titleTemplate="%s | Sviy"
      description=""
      charset="utf-8"
      openGraph={{
        basic: {
          title: "Sviy",
          type: "website",
          image: "",
        },
      }}
      twitter={{
        title: "Sviy",
        image: "",
        description: "",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [],
      }}
    />

    <!-- Schema.org markup-->
    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "WebSite",
        name: "Sviy",
        url: "https://sviydubno.com.ua/",
      }}
    />
    <script>
      import aos from "aos";

      aos.init();
    </script>
  </head>
  <body class="flex flex-col min-h-dvh">
    <Navbar />
    <main class={twMerge("flex-1", className)}><slot /></main>
    {!disableFooter && <Footer />}
  </body>
</html>
